<html xmlns:th="http://www.thymeleaf.org" id="load">
<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css"
          integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">

    <!-- bulma CSS -->
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bulma@0.9.4/css/bulma.min.css">

    <!-- Optional JavaScript -->
    <!-- jQuery first, then Popper.js, then Bootstrap JS -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js"
            integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q"
            crossorigin="anonymous"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"
            integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl"
            crossorigin="anonymous"></script>

    <title>메인페이지</title>

    <script src="https://cdn.jsdelivr.net/npm/bs-custom-file-input/dist/bs-custom-file-input.js"></script>

    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link href="https://fonts.googleapis.com/css2?family=Jua&display=swap" rel="stylesheet">

    <style>
        * {
            font-family: 'Jua', sans-serif;
        }
    </style>

    <script>
        $(document).ready(function () {
            bsCustomFileInput.init()
        })


        //검색해서 그에 맞는 게시글을 보여주는 함수
        function search() {
            let find_name =  $("select[name=find_name]").val() // 검색 종류
            let search_name = $("#search_bar").val() // 검색 값
            if(search_name != ''){
                location.href = "/search?&name="+search_name+"&type="+find_name;
            }
        }

    </script>
</head>

<body >
<!--  헤더 부분 -->
<section class="hero is-info">
    <div class="hero-body">
        <p class="title">
            도서관
        </p>
    </div>
</section>

<!--  검색 입략 창 -->
<section class="section">
    <div class="field has-addons">
        <p class="control">
        <span class="select">
          <select name="find_name">
            <option value="title">제목</option>
            <option value="writer">저자</option>
            <option value="isbn">isbn</option>
          </select>
        </span>
        </p>
        <p class="control is-expanded">
            <input class="input" type="text" id="search_bar" placeholder="Amount of money">
        </p>
        <p class="control">
            <button class="button" onclick="search()">검색</button>
        </p>
    </div>
</section>

<!--  게시글 카드가 들어가는 공간 -->
<section class="section">
    <div class="container">
        <div class = "row">
            <table class = "table table-striped" style="text-align:center; border:1px solid #dddddd">
                <thead>
                <tr>
                    <th style = "background-color:#ffffff; text-align:center;">번호</th>
                    <th style = "background-color:#ffffff; text-align:center;">제목</th>
                    <th style = "background-color:#ffffff; text-align:center;">저자</th>
                    <th style = "background-color:#ffffff; text-align:center;">ISBN</th>
                    <th style = "background-color:#ffffff; text-align:center;">도서관</th>
                </tr>
                </thead>
                <tbody>
                <tr>
                    <td>1</td>
                    <td>dummy</td>
                    <td>dummy</td>
                    <td>dummy</td>
                    <td>dummy</td>

                </tr>
                <tr th:each="book : ${bookList}">
                    <td th:text="${book.id}">emil</td>
                    <td th:text="${book.title}">name</td>
                    <td th:text="${book.writer}">stat</td>
                    <td th:text="${book.isbn}">super</td>
                    <td th:text="${book.library}">super</td>
                </tr>
                </tbody>
            </table>
        </div>
    </div>
</section>

</body>

</html>